@page
@model CMS.Pages.Account.IndexModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="~/favicon.ico">
    <link rel="stylesheet" href="~/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="~/css/public.css" media="all" />
    <script type="text/javascript" src="~/layui/layui.js"></script>
    <title>Index</title>
</head>
<body>
    <form class="layui-form">
        <div class="login_face"><img src="~/images/userface1.jpg" class="userAvatar"></div>
        <div class="layui-form-item input-item">
            <label for="userName">用户名</label>
            <input type="text" placeholder="请输入用户名" autocomplete="off" id="UserName" name="UserName" class="layui-input" lay-verify="required|userName">
        </div>
        <div class="layui-form-item input-item">
            <label for="password">密  码</label>
            <input type="password" placeholder="请输入密码" autocomplete="off" id="Password" name="Password" class="layui-input" lay-verify="required|password">
        </div>
        <div class="layui-form-item input-item" id="imgCode">
            <label for="code">验证码</label>
            <input type="text" placeholder="请输入验证码" autocomplete="off" id="CaptchaCode" name="CaptchaCode" class="layui-input" lay-verify="required|captchaCode">
            <img  src="@Url.Action("CaptchaImage", "Account")" id="CaptchaCodeImg">
        </div>
        <div class="layui-form-item">
            <button class="layui-btn layui-block" lay-filter="login" lay-submit>登录</button>
        </div>
        <div class="layui-form-item layui-row">
            <a  href="javascript:;" class="seraph icon-qq layui-col-xs4 layui-col-sm4 layui-col-md4 layui-col-lg4"></a>
            <a href="javascript:;" class="seraph icon-wechat layui-col-xs4 layui-col-sm4 layui-col-md4 layui-col-lg4"></a>
            <a href="javascript:;" class="seraph icon-sina layui-col-xs4 layui-col-sm4 layui-col-md4 layui-col-lg4"></a>
        </div>
    </form>
</body>
</html>
